.deps/*
.libs/*
*.lo
.dirstamp
autom4te.cache
aclocal.m4
bsdiff-bsdiff.o
bspatch-bspatch.o
stamp-h1
Makefile-bsdiff.am.inc
AUTHORS
NEWS
README
ChangeLog
COPYING
INSTALL
install-sh
missing
depcomp
compile
config.log
config.h.in
config.status
configure
bpatch
bspatch
config.h.in~
bsdiff
Makefile.in
Makefile
autom4te.cache/requests
COPYING
newfile.txt